.board {
  display: inline-block;
  border: 3px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ccc;

  font-size: 18px;
  box-sizing: border-box;
}

.cell input {
    width: 100%;
    height: 100%;

    text-align: center;

    font-size: 18px;
    font-weight: 500;

    border: none;
    outline: none;

    background: transparent;
}

.cell input:disabled {
    background-color: #e9e9e9;
    color: #333;
}

/* vertical 3x3 borders */
.row .cell:nth-child(3),
.row .cell:nth-child(6) {
  border-right: 2px solid black;
}

/* horizontal 3x3 borders */
.row:nth-child(3) .cell,
.row:nth-child(6) .cell {
  border-bottom: 2px solid black;
}